.has-gold-background-color {
    background: $color__brand-gold;
}

.has-gold-color {
    color: $color__brand-gold;
}

.has-green-background-color {
    background: $color__brand-green;
}

.has-green-color {
    color: $color__brand-green;
}

.has-beige-background-color {
    background: $color__brand-beige;
}

.has-beige-color {
    color: $color__brand-beige;
}

.has-dark-brown-background-color {
    background: $color__brand-brown-dark;
}

.has-dark-brown-color {
    color: $color__brand-brown-dark;
}

.has-grey-background-color {
    background: $color__brand-grey-light;
}

.has-grey-color {
    color: $color__brand-grey-light;
}

.has-light-grey-background-color {
    background: $color__brand-grey-lighter;
}

.has-light-grey-color {
    color: $color__brand-grey-lighter;
}