.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post {
	.post-thumbnail {
		margin-top: 1.5em;

		> img {
			width: 100%;
		}
	}

	> .entry-header {
		padding: 5rem 0;
		position: relative;

		&::before {
			@include image-overlay(none);
		}

		.entry-header__block {
			.entry-title,
			.entry-meta,
			.entry-excerpt {
				position: relative;
			}

			.entry-title {
				margin-top: 1.5rem;
				margin-bottom: 0;
				color: #fff;
			}
		
			.entry-meta {
				color: $color__brand-gold;
	
				> .posted-on {
					color: #fff;
				}
			}

			.entry-excerpt {
				color: #fff;
			}

			.circle {
				@include circle($color__brand-gold);
				cursor: pointer;

				&::before {
					font-family: 'Dashicons';
					content: '\f347';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: #fff
				}
			}
		}
	}

	.wp-block-separator {
		border-top: none;
		border-bottom: none;
	}

	.wp-block-embed__wrapper {
		text-align: center;
	}
}

.archive {
	> .page-header {
		padding: 6rem 0;
		position: relative;

		&.has-image {
			&::before {
				@include image-overlay(none);
			}
	
			> h1 {
				color: #fff;
				position: relative;
			}
	
			> .archive-description {
				> p {
					color: #fff;
					position: relative;
				}
			}
		}

		&.no-image {
			> h1 {
				color: $color__brand-green;
			}
		}
	}

	.archive-posts__post {
		padding-bottom: 3rem;

		&:last-child {
			padding-bottom: 0;
		}

		.post-thumbnail {
			display: block;
			padding-bottom: 1.5rem;
		}
	
		.entry-title {
			> a {
				color: $color__brand-brown-dark;
			}
		}
	}
}

.contact-form-header {
	.admin-email {
		font-weight: 600;

		> .circle {
			@include circle($color__brand-gold);
			margin-right: 10px;
			
			&::before {
				font-family: 'Dashicons';
				content: "\f465";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #fff;
			}
		}
	}
}

.contact-form {
	input[type="text"],
	textarea {
		margin-bottom: 20px;
	}
}
