.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area {
	.comment-body {
		margin-bottom: 1.5em;

		.comment-author {
			a {
				color: $color__brand-green;
			}
	
			> .says {
				display: none;
			}
		}
	
		.comment-metadata {
			a {
				color: $color__brand-grey-light;
			}
		}
	
		.comment-content {
			> p {
				color: $color__brand-brown-dark;
			}
		}
	}
}


